PORT=3000
API_VERSION=v1
CORS_ORIGIN=http://localhost:4200

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sys_gestion
DB_USER=postgres
DB_PASSWORD=postgres
DB_POOL_MAX=10

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d

BCRYPT_ROUNDS=10
